*,
*+*,
*::after,
*::before {
    box-sizing: border-box;
}

a,
a:link,
a:visited {
    color: inherit;
    text-decoration: none;
    /* display: inline-block; */
}

p,
h1,
h2 {
    padding: 0;
    margin: 0;
}

ul,
li,
ol {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;

    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    color: #000000;

    overflow-x: hidden;

    background-image: url("../assets/test-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

.header {
    background-color: #ffffff;
    border-bottom: 1px solid #000000;
    padding: 0 10px;
}

.header__container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
}

.main-content__container {
    max-width: 1725px;
    width: 100%;
    margin: 0 auto;
}

.logo-wrapper {
    margin-right: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-name {
    font-size: 35px;
    line-height: 140%;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-list__links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-nav__link {
    font-size: 30px;
    margin-right: 64px;
}

.header-nav__link a:last-child {
    margin-right: 0;
}

.link-active {
    text-decoration: underline !important;
}

.page-title {
    font-weight: 400;
    font-size: 35px;
    line-height: 60px;
    color: #000000;

    text-align: center;
    margin: 20px 0;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}



.header-logo__img {
    max-width: 200px;
    width: 100%;
}

.content__text {
    margin: 0 0 20px 0;
    font-size: 24px;
    line-height: 140%;
}

.site-wrapper {
    margin-bottom: 81px;
}

.site-wrapper__title {
    margin-bottom: 20px;
}


.site-list {
    padding-left: 67px;
}

.tech-wrapper {
    margin-bottom: 93px;
}

.eco-wrapper {
    margin-bottom: 168px;
}

.eco-list {
    padding-left: 67px;
}

.footer {
    display: flex;
    flex-direction: column;

    font-size: 24px;
    line-height: 30px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    background-color: #c2e7d5;
    padding: 27px 0 50px;

    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-text {
    display: flex;
    flex-direction: column;
}

.footer-text * {
    margin-bottom: 10px;
}

.footer-text *:last-child {
    margin-bottom: 0;
}

.footer a {
    display: block;
}