.container {
    position: relative;
    overflow: hidden;
}

.main {
    padding: 0;
    padding-top: 20px;
    font-size: 24px;
    /* background-image: url(../assets/news-bg.png);
    background-repeat: no-repeat;
    background-size: contain; */
}

body {
    background-image: url("../assets/test-bg-3.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}


.page-title {
    font-weight: 400;
    font-size: 35px;
    line-height: 60px;
    color: #000000;

    text-align: center;
    margin: 20px 0;
}

.card {
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;

    border: 1px solid rgba(0, 0, 0, 0.7);

}

.separate-news {
    display: flex;
    margin-bottom: 99px;
    
}

.separate-news__text {
    background: #FFFFFF;
    border: 1px solid #000000;
    margin-left: 44px;


    max-width: 1580px;
    width: 100%;
    padding: 32px 36px 0 36px;
}

.news-date {
    position: relative;
    top: 200px;
    left: 1300px;
    display: inline-block;
}

.footer {
    bottom: 0;
    position: absolute;
    width: 100%;
}